.card__like-btn {
	width: 22px;
	height: 19px;
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	transition: all 0.5s;
	background-color: #ffffff;
	background-image: url("../../../images/icons/like-icon.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.card__like-btn:hover {
	opacity: 0.5;
}
