.popup__input {
	box-sizing: border-box;
	max-width: 358px;
	width: 100%;
	padding: 0 0 8px 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.1;
	color: #000;
	transition: all .5s;
}
.popup__input::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.1;
	color: #c4c4c4;
}
